<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="scheduleNotification()">Shedule notification</ion-button>
  <ion-button expand="block" (click)="recurringNotification()">Recurring notification</ion-button>
  <ion-button expand="block" (click)="repatingDaily()">Repeat daily</ion-button>
  <ion-button expand="block" (click)="getAll()">Get all</ion-button>
  <ion-list>
    <ion-item *ngFor="let n of schedule">
      <ion-label text-wrap></ion-label>
      {{n.id}}-{{n.title}}
      <p>Trigger: {{n.trigger}}</p>
    </ion-item>
  </ion-list>
</ion-content>
